.home-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    /* max-width: 900px; */
    padding: 115px;
    margin: auto;
    /* padding: clamp(115px, 5vw, 120px); */
    padding-top: calc(var(--nav-height) + var(--nav-offset) + 35px);
    gap: 40px;
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 115px;
    gap: 40px;
}

.project-container p {
    text-align: left;
    margin: 10px;
}

.personal-container {
    /* flex: 1; */
    width: 100%;
    max-width: 300px;
    background-color: #f4e0ef;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.22);
}

.other-pages {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: white;
    max-width: none;
    padding: 20px;

    height: calc(70vh - 40px); /* full viewport minus padding */

    border-radius: 10px;
    text-align: center;
    /* gap: 40px; */
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    /* display: flex; */
    flex: 1;
    /* flex-direction: column; */
    background: white;
    /* max-width: none; */
    /* padding: 20px; */

    height: calc(70vh - 40px); /* full viewport minus padding */

    border-radius: 10px;
    text-align: center;
    gap: 40px;
}

.projects-description{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    background: linear-gradient(to right, rgba(255, 204, 218, 0.75), rgb(205, 170, 247, 0.5));
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.22);
}

.purpose-stmt {
    /* font-size: 100px; */
    line-height: 80px;
    /* text-decoration: none; */
    /* color: inherit; */
    /* background: linear-gradient(to right, #fdf6e7, #e4f7f2); */
    /* padding: 20px; */
    border-radius: 10px;
    text-align: left;
    /* text-align: center; */
    align-items: center;
    /* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.22); */
}

.purpose-stmt h1{
    /* font-size: 100px; */
    font-size: clamp(2rem, 8vw, 80px);
    /* padding: 20px; */
    border-radius: 10px;
    text-align: left;
    /* text-align: center; */
    align-items: center;
    /* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.22); */
}

.coblop-description,
.fourtherecord-description {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    background: linear-gradient(to right, rgb(255, 204, 218, 0.5), rgb(188, 237, 185, 0.5));
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.22);
}

.fourtherecord-description {
    background: linear-gradient(to right, rgba(100, 195, 196, 0.45), rgba(99, 145, 251, 0.45));
}

/* Hover animation */
/* .fourtherecord-description:hover,
.coblop-description:hover,
.projects-description:hover,
.resume-description:hover {
    transform: scale(1.05);
    color: #6c63ff;
} */

.resume-description{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    background: linear-gradient(to right, rgba(146, 188, 255, 0.60), rgb(188, 237, 185, 0.65));
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.22);
}

.temp-image {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

@media (max-width: 900px) {
    .home-container {
        flex-direction: column;
        height: auto;
    }

    .personal-container,
    .other-pages {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 1px solid #e8e0ff;
    }
}
