.home-container {
    height: 100svh;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;

    background: radial-gradient(circle at 10% 85%, rgba(255, 135, 22, 0.324), transparent 20%),
        radial-gradient(circle at 60% 30%, rgba(250, 65, 65, 0.15), transparent 19%),
        transparent;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: clamp(20px, 10vw, 110px);
    padding-top: calc(var(--nav-height) + var(--nav-offset) + 3px);
    gap: clamp(20px, 5vw, 40px);
}

.project-container p {
    text-align: left;
    margin: 12px;
}

.project-container {
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: clamp(20px, 5vw, 40px);
}

.purpose-stmt {
    line-height: 80px;
    margin: 0 20%;
    border-radius: 10px;
    text-align: left;
    align-items: center;
}

.socials {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.social-icon {
    font-size: clamp(1.8rem, 4vw, 3rem);
    color: black;
}

.social-icon:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.purpose-stmt h1{
    font-size: clamp(1.5rem, 5vw, 70px);
    border-radius: 10px;
    text-align: left;
    align-items: center;
}

.project {
    overflow: hidden;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /* background-color: #fcfbf8; */
    border-radius: 10px;
    align-items: center;
    gap: none;
}

.descriptions h2 {
    text-align: left;
    margin: 12px;
}

.descriptions {
    padding: 12px;
    background-color: var(--bg);
}

.web-iframe {
    background-color: #f4e0ef;
    /* border-radius: 7px; */
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    pointer-events: none;
    display: block;
    border: none;
}

/* @media (hover: hover) and (pointer: fine) {
    .coblop-description:hover,
    .fourtherecord-description:hover {
        transform: scale(1.05);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }
} */

@media (max-width: 900px) {
    .project-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}
