.navbar {
  position: fixed;
  top: var(--nav-offset);
  left: 50%;
  transform: translateX(-50%);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  border-radius: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.navbar button {
  position: relative;
  background: none;
  border: none;
  font-size: 30px;

  cursor: pointer;
  color: #443d5a;
  transition: transform 0.2s ease, color 0.2s ease;
}

.navbar button::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(50, 50, 50, 0.9);
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  white-space: nowrap;
}

/* Hover animation */
.navbar button:hover {
  /* transform: scale(1.2); */
  color: #6c63ff;
}

.navbar button:hover::after {
  opacity: 1;
}

/* Highlight active page */
.navbar .active {
  border-bottom: 3px solid #6c63ff;
  transform: scale(1.1);
}
