.resume-container {
    padding: 115px;
    /* background: #fafafa; */
    max-width: 900px;
    margin: 0 auto;

    left: 0;
}

.resume-section {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 60px;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.section h2, h3, p, ul {
    margin: 2px;
}

.socials {
    display: flex;
    padding: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.skills-carousel {
    overflow: hidden;
    width: 100%;
}

.carousel-track {
    display: flex;
    animation: scroll 20s linear infinite;
}

.carousel-group {
    display: flex;
}

.carousel-group > * {
    flex: 0 0 auto;
    margin: 0 30px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
